<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
    	<!-- Database connection settings -->
    	<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/computing</property>
<!--         <property name="dialect">org.hibernate.dialect.SQLiteDialect</property> -->
<!--         <property name="connection.url">jdbc:sqlite:computing.db</property> -->
		<property name="hibernate.connection.username">computing</property>
        <property name="hibernate.connection.password">123</property>
        <!-- SQL dialect -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
<!-- 		<property name="connection.driver_class">org.sqlite.JDBC</property> -->
   		<property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="connection_pool_size">10</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property><!-- create|auto|none|update|validate -->
        <mapping class="ru.urfu.computing.server.core.mode.unhandled.Unhandled"/>
    </session-factory>
</hibernate-configuration>
